body {
  font-family: Helvetica, Arial;
  color: #1e3d8f;
  text-align: center;
}

header {
  margin: 0;
  padding: 0;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  line-height: 1.5;
}

footer {
  margin: 60px 0 10px;
  color: #1e3d8f;
}

.container-fluid {
  padding: 3% 10% 0 10%;
}

/* Header */
.header-image img {
  width: 80%;
  margin: 0 auto;
}

/* Headings */
.big-heading {
  color: #1e3d8f;
  font-weight: 900;
  line-height: 0.9;
  font-size: 3rem;
  margin-top: 20%;
}

.second-heading {
  font-size: 2rem;
  line-height: 1.5;
}

.section-heading {
  color: #1e3d8f;
  font-size: 1.5;
  font-weight: 700;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
  }

/* Navigation */
.nav-cruzeiro {
  background-color: #1e3d8f;
  color: #fff;
  padding: 1% 5%;
}

.navbar-item {
  padding: 0 18px;
}

.logo {
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Buttons and Links */
.btn-cruzeiro, .btn-outline-cruzeiro:hover {
  background-color: #1e3d8f;
  border-color: #1e3d8f;
  color: #ffffff;
  margin: 20px 10px 20px 0;
}

.btn-cruzeiro:hover {
  color: #1e3d8f;
}

.btn-outline-cruzeiro {
  color: #1e3d8f;
  border-color: #1e3d8f;
  margin: 20px 10px 20px 0;
}

.icon, .contact-icon {
  color: #1e3d8f;
}

.icon:hover, .contact-icon:hover {
  color: #1766a9;
}

.icon {
  margin: 5%;
}

.contact-icon {
  padding: 10px;
}

/* Sections */
.yellow-section {
  background-color: #E4C023;
}

/* Features */
#features {
  margin: 5% 15%;
}

.feature-item {
  padding: 5% 2%;
}

/* Testimonials */
#testimonials {
  background-color: #1e3d8f;
  color: #fff;
  text-align: center;
}

#testimonials img {
  border-radius: 100%;
  width: 20%;
  margin: 10px;
}

.carousel-inner {
  padding: 7% 25%;
}

/* Pricing */
#pricing {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.pricing-column {
  padding-top: 3%;
}

.card-blue {
  background-color: #349dcd;
  color: #fff;
}

.card-header-blue {
  background-color: #1f7ab7;
}

.card-header-blue h3 {
  color: #fff;
}

/* Downloads */
#downloads {
  color: #1e3d8f;
  padding: 3% 30% 5%;
}

/* Responsive */
@media (max-width: 1100px) {
  .header-title {
    margin-top: 15%;
  }
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }

  .header-title {
    margin-top: 10%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .header-image {
    width: 80%;
    margin: 0 auto;
  }


  .icon {
    margin: 2%;
  }

  .feature-item {
    padding: 2%;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .carousel-inner {
    padding: 7% 18%;
  }

  #downloads {
    padding: 10% 18% 5%;
  }
}

@media (max-width: 380px) {
  .testimonial-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  #downloads {
    padding: 15% 2% 5%;
  }
}

